{% load static %}
<a href="{% url 'json' %}">JSON File</a>
<img src="https://i.pinimg.com/originals/16/06/0c/16060c150be05d911ca781312b9c2e3c.png">
<form method="post">
    {% csrf_token %}
    <label for="fname">Input your name:</label>
    <input type="text" placeholder="name" id="fname" name="fname">
    <br>
    <br>
    <label for="sname">Input your surname:</label>
    <input type="text" placeholder="surname" id="sname" name="sname">
    <br>
    <br>
    <label for="age">Input your age:</label>
    <input type="number" placeholder="age" id="age" name="age">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

<h1>{{a}}</h1>